@mixin design-render {
  @include display(flex);
  @include flex(1 0 0);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 100%;
  max-width: 475px;
  overflow: hidden;
  span {
    width: 75%;
    padding-bottom: 75%;
    position: relative;
  }
}
