@mixin paymentField() {
  display: inline;
  height: 38px;
  width: 100%;
  max-width: 100%;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;

  background: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #aaa;

  padding: 8px 10px;

  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: caret;
  float: none;
  &:focus {
    border-color: #aaa;
    box-shadow: 1px 1px 1px #808080,
                -1px -1px 1px #808080,
                0 1px 1px #808080,
                1px 0 1px #808080;
  }
  &.error {
    border: 1px solid $error-color;
    box-shadow: 1px 1px 1px $error-color,
                -1px -1px 1px $error-color,
                0 1px 1px $error-color,
                1px 0 1px $error-color;
  }
}
