.Modal {}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
	// background: red;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.ReactModal__Content {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	position: relative;
	overflow: initial;
}
	.ReactModal__Content--after-open {}
	.ReactModal__Content--before-close {}

	//
	// Isolated preview of a single design.
	//
	.ReactModal__Content .show-design {
	  background-color: white;
	  @include justify-content(space-around);
	}

	.show-design {
	  @include display(flex);
	  @include flex-direction(column);
	  @include justify-content(center);
	  position: relative;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(211, 210, 213, 0.37);
	  border-radius: 4px;

	  .top-ui {
	    @include display(flex);
	    @include flex(1 0 0);
	    @include align-items(center);
	  }

	  .price {
	    @include display(flex);
	    @include flex(2 0 0);
	    font-size: 2.5em;
	  }

	  .exit {
	    @include display(flex);
	    @include align-items(center);
	    @include justify-content(center);
	    background: white;
	    position: absolute;
	    right: -25px;
	    top: -25px;
	    border-radius: 50%;
	    width: 40px;
	    height: 40px;
	    &:hover {
	      background: rgb(162, 162, 162);
	      cursor:pointer; }
	    &:active { background: rgb(92, 91, 90); }

	    img {
	      position: relative;
	      width: 60%;
	      height: auto;
	    }
	  }

	  .bottom-ui {
	    @include display(flex);
	    @include flex(1 0 0);
	    @include align-items(center);
	    @include justify-content(center);
	  }

	  .image-with-label {
	    padding: 10px 4px;
	    @include display(flex);
	    @include flex(1 0 0);
	    @include flex-direction(column);
	    @include justify-content(center);
	    @include align-items(center);
	    &:hover { cursor: pointer; }
	  }

	  .canvas-container {
	    height: 0;
	    width: 100%;
	    padding-bottom: 100%;
	    position: relative;
	  }
	}
