$flex-zero: 0.00001;
$design-small-size: 100px;
$design-medium-size: 180px;
$design-large-size: 220px;

$media-mobile-width: 400px;
$media-min-width: 900px;
$media-medium-width: 1000px;
$media-large-width: 1200px;
