/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:42d0da8d67367f86aea8ec83b38c9df7:104a922afe425db56166cc9dec7150dd:7140e39866c11731481aae8ebd300255$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(artdrop-logo.png);}

.back {width:200px; height:200px; background-position: -2px -2px}
.buy {width:200px; height:200px; background-position: -2px -204px}
.cancel-x {width:200px; height:200px; background-position: -204px -2px}
.cart-icon-black {width:200px; height:200px; background-position: -204px -204px}
.color-wheel {width:200px; height:200px; background-position: -406px -2px}
.drop {width:200px; height:200px; background-position: -406px -204px}
.edit-pencil {width:200px; height:200px; background-position: -608px -2px}
.eyeball {width:200px; height:200px; background-position: -608px -204px}
.refresh {width:200px; height:200px; background-position: -810px -2px}
.share-icon {width:200px; height:200px; background-position: -810px -204px}
.triangle-left {width:200px; height:200px; background-position: -1012px -2px}
.triangle-right {width:200px; height:200px; background-position: -1012px -204px}
