@import "mixins/prefixer.scss";
@import "mixins/flex.scss";

@import "colors.scss";
@import "components/nav-bar.scss";
@import "components/designs/index.scss";
@import "components/designs/edit-steps/index.scss";
@import "components/new-colors-button.scss";
@import "components/up-down-switch.scss";
@import "components/color-palette.scss";
@import "components/modal.scss";
@import "components/admin/main.scss";

html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: white;
  height: 100%;
  padding: 0;
  margin: 0;
}
.main {
  height: 93%;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
}
#app {
  height: 100%;
  > div {
    height: 100%;
  }
}
