.AdminEditDesign {
  .select-layer-image:after {
    display: table;
    content: '';
    clear: both;
  }
}

.AdminEditDesign-select-layer {
  border: 1px solid;
  display: inline-block;
  padding: 10px;
  font-size: 0.8em;
  &:hover { cursor: pointer; }
}
.AdminEditDesign-button-container {
  @include display(flex);
  .button {
    margin: 20px;
  }
}
