.UpDownSwitch {}

.toggle-options-button {
  background: $color5;
  border-radius: 16px;
  color: white;
  width: 150px;
  height: 25px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  span {
    position: relative;
    min-width: 115px;
    @include justify-content(center);
    @include display(flex);
    @include align-items(center);

    img { width: 15px; }
  }

  span:nth-child(2) {
    margin: 0;
    min-width: initial;
  }
}
