.Cart {
  @include display(flex);
  @include flex-direction(column);

  padding: 10px;

  @media (min-width: 650px) {
    @include flex-direction(row);
    @include justify-content(space-around);
  }

  h2 {
    margin: 6px 10px 5px;
    color: rgba(0,0,0,0.5);
  }
}

.Cart-surface-info {
  img { width: 100%; }
}

.Cart-canvas-flex-wrapper {
  @include design-render();
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  flex: none;
  max-width: none;
}
