.DesignEditDetail {
  @include flex-direction(row);
}
.DesignEditDetail-canvas-flex-wrapper {
  max-width: none;
}
.DesignEditDetail-edit-ui {
  @include flex-direction(row); 
}
.DesignEditDetail-edit-ui-top {
  @include flex-direction(column);
}
.DesignEditDetail-edit-ui-canvas {
  @include display(flex);
  @include flex(1 0 0);
  @include align-items(center);
  @include justify-content(center);
}
.DesignEditDetail-edit-ui-detailed {
  @include display(flex);
  @include flex(1 0 0);
  @include flex-direction(column);
}
.DesignEditDetail-edit-ui-top {
  @include display(flex);
  @include flex(1 0 0);
  @include align-items(center);
}
.DesignEditDetail-edit-ui-mid {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  background: $nav-bar-color;
  min-height: 40px;

  .rotate-colors {
    width: 50px;
    padding: 5px;
  }
}
.DesignEditDetail-edit-ui-bottom {
  @include display(flex);
  @include flex(3 0 0);
  @include flex-wrap(wrap);
  @include justify-content(center);
  overflow: scroll;
}

@media (min-width: $media-min-width), (orientation: landscape) {
  .DesignEditDetail {
    @include flex-direction(row);
  }
  .DesignEditDetail-canvas-flex-wrapper {
    max-width: none;
  }
  .DesignEditDetail-edit-ui {
    @include flex-direction(row);
  }
  .DesignEdit-ui-top {
    @include flex-direction(column);
  }
}