.ColorPalette {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  overflow: hidden;
  box-sizing: content-box;
  @media (min-width: 650px) {
    margin: 10px 20px;
  }
}
.ColorPalette-single-color {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  float: left;
  border-radius: 0;
  margin: 0;
}
