.ColorsButton {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  width: 60%;
  max-width: 210px;

  @media (max-width: 630px) {
    width: 25%;
    min-width: 140px;
  }

  &.off { display: none; }

  .container {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 100%;
  }

  .rand-button-text { margin-top: 5px; }

  .left {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex(1 0 0);
    height: 100%;

    img {
      width: 100%;
      height: auto;
    }
    &:hover { cursor: pointer; }
  }
  .right {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex(1 0 0);
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
    &:hover { cursor: pointer; }
  }
  .ColorsButtonRotate {
    @include display(flex);
    @include align-items(center);
    @include flex(2 0 0);
    padding: 0 10px;
    max-height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      padding: 10px;
      border-radius: 50%;
      -webkit-box-shadow: 1px 2px 6px 0px rgba(150,150,150,0.75);
      -moz-box-shadow: 1px 2px 6px 0px rgba(150,150,150,0.75);
      box-shadow: 1px 2px 6px 0px rgba(150,150,150,0.75);
    }
    svg {
      background: plum;
      border-radius: 50%;
      -webkit-box-shadow: 1px 2px 6px 0px rgba(150,150,150,0.75);
      -moz-box-shadow: 1px 2px 6px 0px rgba(150,150,150,0.75);
      box-shadow: 1px 2px 6px 0px rgba(150,150,150,0.75);
    }
    &:hover { cursor: pointer; }
  }
  &.small { width: 80px; }
}

@media (min-width: $media-min-width) {
  .ColorsButton {
    max-width: 300px;
  }
}
