.admin-surfaces {
  color: #5353FF;
  @include display(flex);
  @include flex-direction(column);
  @media (min-width: $media-min-width) {
    @include flex-direction(row);
  }
}

.surfaces-container {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @media (min-width: $media-min-width) {
    @include flex(1 0 0);
  }
  overflow: scroll;
}

.admin-surface-details {
  height: 300px;
  background: lavender;
  @include display(flex);
  @media (min-width: $media-min-width) {
    @include flex-direction(column);
    @include flex(1 0 0);
  }

  .image-container {
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
