.AdminSurfaces {
	color: #5353FF;
	@include display(flex);
	@include flex-direction(column);
  @include align-items(center);
  position: relative;
  overflow: hidden;
	@media (min-width: $media-min-width) {
	  @include flex-direction(column);
	}
}
.AdminSurface-image-container {
  @include display(flex);
  @include justify-content(center);
  img {
  	width: 300px;
  	height: auto;
  }
}
.AdminSurfaces-surface-options-container {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  height: 150px;
  overflow: scroll;
  width: 100%;
}
.AdminSurfaces-surfaces-container {
  @include display(flex);
  @include justify-content(center);
  overflow: scroll;
  width: 100%;
}

