.DesignEdit {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  padding-top: 20px;
  width: 100%;
  height: 93%;
}
.DesignEdit-ui {
  @include display(flex);
  @include flex-direction(column);
  @include flex(1 0 0);
  width: 100%;
  height: 100%;
  .button {
    @include display(flex);
    @include justify-content(center);
    background: $button-color;
    padding: 5px;
    width: 100px;
    border-radius: 40px 40px;
    margin: 0 10px;
    @include prefixer(box-shadow, 2px 2px 6px 0px rgba(150,150,150,0.75), webkit moz spec);
    cursor: pointer;

    &.off {
      opacity: 0.3;
    }
  }
}

.DesignEdit-ui-top {
  @include justify-content(space-around);
  @include display(flex);
  @include flex(1 0 0);
  @include align-items(center);
    @media (max-width: 629px) {
      max-height: 90px;
    }
}

.DesignEdit-canvas-flex-wrapper {
  @include design-render();
}

@media (min-width: $media-min-width), (orientation: landscape) {
  .DesignEdit {
    @include flex-direction(row);
  }
  .DesignEdit-canvas-flex-wrapper {
    max-width: none;
  }
  .DesignEdit-ui {
    height: 100%;
  }
  .check-button {
    width: 150px;
    height: 150px;
  }
  .new-colors-button {
    width: 60%;
    max-width: 300px;
  }
}

@media (width: 768) and (height: 1024) and (orientation: portrait) {
  .DesignEdit {
    @include flex-direction(column);
  }
  .DesignEdit-canvas-flex-wrapper {
    max-width: auto;
  }
  .DesignEdit-edit-ui {
    height: auto;
  }
}

@media (min-width: 650px) {
  .DesignEdit-canvas-flex-wrapper {
    span {
      width: 90%;
      padding-bottom: 90%;
    }
  }
}

@media (width: 768) and (height: 1024) and (orientation: portrait) {
  .DesignEdit { @include flex-direction(column); }
  .DesignEdit-canvas-flex-wrapper { max-width: auto; }
  .DesignEdit-edit-ui { height: auto; }
}

.canvas {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
