<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <style>
    html, body {
      padding: 0;
      background: white;
      margin: 0;
      height:  {{ height }}px;
      width: {{ width }}px;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>
  <script src="/svg-injector.min.js"></script>
  <title>Test</title>
  </head>
  <body>
    <img src="{{layerOneUrl}}" id="one">
    <img src="{{layerTwoUrl}}" id="two">
    <img src="{{layerThreeUrl}}" id="three">
    <script>
      var one = document.querySelector('#one')
      var two = document.querySelector('#two')
      var three = document.querySelector('#three')
      var toA = function(list) { return Array.prototype.slice.call(list, 0) }

      var setSvgColors = function(svgEl) {
        var svgLayerIds = ['Layer1', 'Layer2', 'Layer3', 'Layer4']
        // TODO !!!! need to pass the color palette here.
        var palette = {
          Layer1: 'dimGrey',
          Layer2: 'seaGreen',
          Layer3: 'darkSlateGrey',
          Layer4: 'darkRed'
        }
        svgLayerIds.forEach(function(id) {
          toA(svgEl.querySelectorAll('#' + id + ' *')).forEach(function(el) {
             el.style.fill = palette[id]
          })
        })
      }

      var replaceSvgImageWithText = function(imgEl, height, width) {
        var opts = {
          each: function(svgEl) {
            if (typeof svgEl !== 'object') { return null }
            svgEl.style.height = height + 'px'
            svgEl.style.width = width + 'px'
            svgEl.style.margin  = '0';
            svgEl.style.padding = '0';
            svgEl.style.display = 'block';
            setSvgColors(svgEl)
            return svgEl
          },
          evalScripts: 'never'
        }
        SVGInjector(imgEl, opts)
      }
      replaceSvgImageWithText(one, {{height}}, {{width}})
      replaceSvgImageWithText(two, {{height}}, {{width}})
      replaceSvgImageWithText(three, {{height}}, {{width}})
    </script>
  </body>
</html>
