.nav-bar {
  background: $nav-bar-color;
}

.nav-bar-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex(1 0 0);
  z-index: 100;
  // height: 7%;
  height: 47px;
  min-height: 35px;
  width: 100%;
  color: white;
  max-width: 960px;
  margin: 0 auto;

  .space {
    margin-right: 20px;
    @media (max-width: 360px) {
      margin-right: 10px;
    }
  }
  .buy {
    @include flex-shrink(0);
  }
}

.price {
  color: $color5;
  font-size: 32px;
}

.left-side {
  @include display(flex);
  @include flex(3 0 0);
  @include justify-content(flex-start);
  @include align-items(center);
  margin-right: 5px;
  margin-left: 5px;
}

.right-side {
  @include display(flex);
  @include flex(3 0 0);
  @include justify-content(flex-end);
  @include align-items(center);
  margin-right: 5px;
}
