.nav-bar {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  background: black;
  z-index: 100;
  width: 100%;
  height: 7%;
  color: white;
  align-items: center;
  flex: 1 0 0;
}
	.nav-bar span:nth-child(1) {
		width: 100px;

		img {
			width: 90%;
		}
	}

	.nav-bar span:nth-child(2) {
		@include display(flex);
		flex: 1 0 0;
	}
	.nav-bar ul {
		@include display(flex);
		flex: 3 0 0;
		justify-content: flex-end;

		li {
			width: 20px;
			margin: 0 7px;
			list-style-type: none;

			img {
				width: 100%;
			}
		}
	}
