.nav-bar {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex(1 0 0);
  background: black;
  z-index: 100;
  width: 100%;
  height: 7%;
  min-height: 35px;
  color: white;
}

.logo {
  width: 100px;
  img { width: 90%; }
}

.right-icons {
  @include display(flex);
  @include flex(3 0 0);
  @include justify-content(flex-end);
  list-style: none;

  li {
    width: 20px;
    margin: 0 7px;
    img { width: 100%; }
  }
}
