.DesignEditSurface {
}
.DesignEditSurface-ui {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include flex(1 0 0);
	width: 100%;
}
.DesignEditSurface-ui-top {
	padding: 20px;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(row);
	@include flex(1 0 0);
	// max-width: 500px;

	.left  {
		@include display(flex);
		@include flex(1 0 0);
		@include flex-direction(column);
		@include align-items(flex-end);
		@include justify-content(flex-end);
		text-align: right;
		padding-right: 20px;
		color: $button-color;

		div:first-child {
			span {
				color: black;
				display: block;
			}}
		div:nth-child(2) {
			span {
				color: black;
				display: block;
			}}
		div:nth-child(3) {
			span {
				color: black;
				display: block;
			}}
		div:nth-child(4) {
			p {
				color: black;
				display: block;
			}}
	}
	.right {
		@include display(flex);
		@include flex(1 0 0);
		@include align-items(center);
		@include justify-content(center);
		position: relative;
	}
}
.DesignEditSurface-product-overlay-container {
  position: relative;
  width: 250px;
  height: 250px;
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  max-width: 250px;
  
  .selected-surface-img {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: 50;
    display: none;
  }

  .canvas-flex-wrapper {
  	span {
		width: 100%;
		height: 100%;
		background: pink;
  	}
  }
}

.DesignEditSurface-ui-mid {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	background: $nav-bar-color;
	width: 100%;
	button { margin: 20px; opacity: 1; }
}
.DesignEditSurface-surfaces {
	@include display(flex);
	@include flex-wrap(wrap);
	@include flex(1 0 0);
	@include justify-content(center);
	@include align-items(center);
	overflow: scroll;
}
