.LayerSelectorGroup {
	@include display(flex);
	@include flex(1 0 0);
	@include justify-content(center);
	@include align-items(flex-start);
	max-width: 150px;
	overflow: hidden;
	margin: 0;
	width: 100%;
}
.DesignEdit { .LayerSelectorGroup { max-width: none; } }
.DesignEditDetail {
  .LayerSelectorGroup {
	@include flex-direction(column);
	@include align-items(center);
	@include flex(1 0 0);
	max-width: none;

	&.portrait {
	  @include flex-direction(column);
	}
	.LayerSelector {
	  @include flex-direction(row);
	  span { 
	  	margin: 0 0 0 10px; 
	  	width: 50px;
	  	overflow: hidden;
	  }
	}
  }
}

@media (min-width: $media-min-width) {
  .DesignEditDetail {
    .LayerSelectorGroup {
	  	@include flex-direction(row);
	  	@include align-items(center);
	  	max-width: none;
	  	width: 400px;
	  	&.portrait {
	  	  @include flex-direction(column);
	  	}
    }
    .DesignEditDetail-mid { width: 100%; }
  }
}
