.LayerSelectorGroup {
	@include display(flex);
	@include flex(1 0 0);
	@include justify-content(center);
	@include align-items(flex-start);
	max-width: 150px;
	margin: 0;
	width: 100%;
}
.DesignEdit { .LayerSelectorGroup { max-width: none; } }
.DesignEditDetail {
  .LayerSelectorGroup {
	@include align-items(center);
	@include flex(1 0 0);
	max-width: none;

	&.portrait {
	  @include flex-direction(column);
      @include align-items(flex-start);
	}
	.LayerSelector {
	  @include flex-direction(row);
      &.selected {
        height: 100px;
        width: 140px;
        @media (max-width: 320px) {
          height: 70px;
          width: 110px;
        }
        > img {
          height: 90px;
          @media (max-width: 320px) {
            width: 60px;
            height: 60px;
          }
        }
      }
	  span {
	  	margin: 0 0 0 10px;
	  	width: 50px;
	  	overflow: hidden;
	  }
	}
  }
}

@media (min-width: $media-min-width) {
  .DesignEditDetail {
    .LayerSelectorGroup {
	  	@include flex-direction(row);
	  	@include align-items(center);
	  	max-width: none;
	  	width: 400px;
	  	&.portrait {
	  	  @include flex-direction(column);
	  	}
    }
    .DesignEditDetail-mid { width: 100%; }
  }
}
