.choose-layer {
  @include display(flex);
  @include flex-grow(0.0001);
  @include flex-shrink(0);
  @include flex-basis(0);
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  &.visible { @include flex-grow(1); }
  ol {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1 0 0);
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      @include display(flex);
      @include flex-grow(1);
      @include align-items(center);
      padding-left: 10px;
      border: 1px solid white;
      list-style-type: none;
      background: $color3;
      color: $color4;
      img {
        width: 30px;
        margin: 0 10px;
      }
    }
  }
}

// Show a hidden image to have the text properly align with the layer rows.
.surface img {
  // visibility: hidden;
  // opacity: 0;
}
