.choose-art {
  @include display(flex);
  @include flex-grow($flex-zero);
  @include flex-shrink(0);
  @include flex-basis(0);
  &.visible { @include flex-grow(1); }
  overflow: auto;

  ul {
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    -webkit-overflow-scrolling: touch;
    width: 100%;
    overflow: auto;
    @media (min-width: 650px) {
      height: 100%;
      @include flex-direction(row);
    }
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    li {
      position: relative;
      &:hover { cursor: pointer; }
      img { padding: 0; }
      &.highlighted:before { opacity: 0; }
      &.highlighted { box-sizing: border-box; }
    }
  }
}
