.choose-palette {
  @include display(flex);
  @include flex-grow($flex-zero);
  @include flex-shrink(0);
  @include flex-basis(0);
  @include flex-wrap(wrap);
  margin: 2px;
  overflow-y: hidden;

  &:hover { cursor: pointer; }
  &.highlighted { border: 4px solid blue; }
  &.visible { @include flex-grow(1); }
}
