.choose-palette {
  @include flex-grow(0);
  @include flex-shrink(0);
  @include flex-basis(0);
  display: none;
  float: left;
  margin: 2px;
  overflow: auto;

  &:hover { cursor: pointer; }
  &.highlighted { border: 4px solid blue; }
  &.visible {
    @include flex-grow(1);
    @include flex-wrap(wrap);
  }
}
