.choose-palette {
  @include display(flex);
  @include flex-grow($flex-zero);
  @include flex-shrink(0);
  @include flex-basis(0);
  overflow: hidden;

  &:hover { cursor: pointer; }
  &.highlighted { border: 4px solid blue; }
  &.visible { @include flex-grow(1); }

  .palettes-container {
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 77px * 3;

    @media (min-width: 650px) {
      height: 100%;
      @include flex-direction(row);
    }
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    & > .color-palette {
      display: inline-block;
      position: relative;
      margin-right: 4px;
      &:hover { cursor: pointer; }
    }
  }
}
