.choose-art {
  @include flex-grow(0.0001);
  @include flex-shrink(0);
  @include flex-basis(0);
  display: flex;
  height: 0;
  overflow: hidden;

  &.visible {
    @include display(flex);
    @include flex-grow(1);
    height: auto;
  }

  ul {
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    overflow-x: scroll;
    width: 100%;
    height: 300px;

    li {
      display: inline-block;
      position: relative;
      margin-right: 4px;
      width: 75px;
      &:hover { cursor: pointer; }

      img {
        padding: 0;
        background-image: url('/assets/helpers/transparent.png');
        background-size: 100% 100%;
        width: 73px;
        height: 73px;
      }
      &.highlighted:before { opacity: 0; }
      &.highlighted { box-sizing: border-box; }
      &:before {
        content: "";
        width: 73px;
        height: 73px;
        background: black;
        z-index: 100;
        position: absolute;
        opacity: 0.4;
        overflow: hidden;
      }
    }
  }
}
