.detail {
  @include display(flex);
  @include flex-grow(0.00001);
  @include flex-shrink(0);
  @include flex-basis(0);
  &.visible { @include flex-grow(1); }

  .palette-art-container {
    @include display(flex);
    @include flex-grow($flex-zero);
    @include flex-shrink(0);
    @include flex-basis(0);
    @include flex-direction(column);
    position: relative;
    margin: 0;
    padding: 0;
    &.visible {
      @include flex-grow(1);
    }
  }

  .options-button-container {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    height: 50px;
  }
}
