$color1: #ee3c49;
$color2: #688ac6;
$color3: #eef0f5;
$color4: #828690;
$color5: #6a8cc4;

.edit-footer {
  @include display(flex);
  @include flex(1 0 0);
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  max-height: 30px;
  margin: 0;
  padding: 0;

  .reset, .save, .price, .buy, .share {
    @include footer-button;
  }

  .lower-ui {
    @include display(flex);
    @include flex(1 0 0);
  }
  .purchase { @include justify-content(flex-end); }
  .reset { background: $color1; }
  .save { background: $color2; }
  .buy { background: $color1; margin-right: 5px; }
  .price {
    color: black;
    font-size: 18px;
    line-height: 12px;
  }
  .share {
    @include display(flex);
    background: $color2;
    min-width: 70px;

    span {
      position: relative;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      position: relative;
      padding: 0;
      width: 100%;
    }
  }
}
