.layer-selector-wrapper {
  @include display(flex);
  @include flex(1 0 0);
  @include justify-content(center);
  @include align-items(flex-start);
  overflow: hidden;
  margin: 0;
  // position: relative;
  // width: 30%;
  // background: cyan;
  // float: left;
  // display: inline-block;

  // .container {
  //   @include display(flex);
  //   @include flex-direction(column);
  //   @include flex(1 0 0);
  //   margin: 0;
  //   padding: 0;
  // }
}
.layer-selector {
  margin: 10px;
  padding: 5px;
  box-sizing: box;
  border-radius: 10px;

  @include display(flex);
  // @include flex-grow(1);
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-direction(column);

  &.selected {
    background: $button-color;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
    box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
  }

  img {
    background: white;
    border-radius: 10px;
    opacity: 1;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
    box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
    cursor: pointer;

    @media (max-width: 360px) {
      width: 50px;
      height: 50px;
    }
    @media (orientation: landscape) and (max-height: 360px) {
      width: 40px;
      height: 40px;
    }
  }
  span {
    background: white;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    color: $nav-bar-color;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);

    img {
      height: 15px;
      box-shadow: none;
      margin: 2px;
    }

    &.disabled {
      opacity: 0.3;
    }
  }
}

.design-edit-detail {
  .layer-selector-wrapper {
    @include flex-direction(row);
    @include align-items(center);

    &.portrait {
      @include flex-direction(column);
    }

    .layer-selector {
      @include flex-direction(row);

      span {
        margin: 0 0 0 10px;
      }
    }
  }
}
