$imgSize: 60px;
.layer-selector-wrapper {
  @include display(flex);
  @include flex($flex-zero 1 auto);
  @include align-items(center);
  margin: 0;
  padding: 0;
  overflow: hidden;

  .container {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1 0 0);
    @include align-items(center);
    @include justify-content(space-around);
    width: 68px;
    @media (min-width: 650px) {
      width: 100px;
    }
  }
}
.layer-selector {
  width: 82%;
  padding-bottom: 80%;
  height: 0;
  margin-bottom: 10%;

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 0;
    opacity: 0.4;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &.selected { opacity: 1; border: 2px solid coral; }
  }
}
