.layer-selector-wrapper {
  @include display(flex);
  @include flex-grow(0.2);
  @include flex-shrink(0);
  @include flex-basis(0);
  overflow: hidden;
  margin: 0;
  padding: 0 4px 0 0;

  .container {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1 0 0);
    margin: 0;
    padding: 0;
  }
}
.layer-selector {
  @include display(flex);
  @include flex-grow(1);
  @include align-items(center);
  @include justify-content(center);
  img {
    border-radius: 10px;
    opacity: 0.4;
    @media (max-width: 360px) {
      width: 50px;
      height: 50px;
    }
    @media (orientation: landscape) and (max-height: 360px) {
      width: 40px;
      height: 40px;
    }
    &.selected {
      opacity: 1;
      border: 2px solid $color5;
    }
  }
  span {
    background: lightgray;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid black;
  }
}
