.start {
  @include display(flex);
  @include flex-grow($flex-zero);
  @include flex-shrink(0);
  @include flex-basis(0);
  @include justify-content(space-around);
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
  overflow: hidden;
  background: red;

  &.visible { @include flex-grow(1); }
  &.small {
    min-height: 50px;
  }

  .actions {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    width: 100%;
  }

  .more-options {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    width: 100%;

    button {
      padding: 10px 7px 10px 7px;
      background: gray;
      color: white;
      cursor: pointer;
      border: none;
    }
  }
}
