.start {
  @include display(flex);
  @include flex-grow(0.00001);
  @include flex-shrink(0);
  @include flex-basis(0);
  @include justify-content(space-around);
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
  overflow: hidden;

  &.visible { @include flex-grow(1); }
  &.small {
    min-height: 50px;
  }

  .actions {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    width: 100%;
  }

  .more-options {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    width: 100%;
    button {
      padding: 7px 5px 5px 5px;
      background: gray;
      color: white;
      cursor: pointer;
    }
  }
}
