@import "./CreditCardField/CreditCardField";
@import "./EmailField/EmailField";
@import "./ExpiryDateField/ExpiryDateField";
@import "./GiftIcon/GiftIcon";
@import "./OfferCodeField/OfferCodeField";
@import "./NameField/NameField";
@import "./PayPalButton/PayPalButton";
@import "./CCIcons/CCIcons";
@import "./CVCodeField/CVCodeField";
.exp-cv-container {
  @include display(flex);
  @include justify-content(space-between);
}

.credit_card_holder {
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: height 0.5s cubic-bezier(0.23, 1.5, 0.32, 1);
  transition: height 0.5s cubic-bezier(0.23, 1.5, 0.32, 1);
  overflow: hidden;

  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background: -webkit-linear-gradient(top, #fff, #f5f5f5);
  background: linear-gradient(top, #fff, #f5f5f5);
  padding-bottom: 10px;
  width: 100%;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.credit_card_holder p {
  padding: 10px 10px 0;
  margin: 0;
  font-size: 13px;
  line-height: 21px;
}

.credit_card_holder .stripe-card-info {
  background: #e5e5e5;
  margin-top: 10px;
  color: #252a2e;
  overflow: hidden;
  height: 44px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3), 0 -1px 5px rgba(0,0,0,0.2);
}

.credit_card_holder label {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 12px;
  margin: 0;
  float: none;
  text-overflow: ellipsis;
  height: 21px;
}


.cc_number_security_indicator {
  position: absolute;
  background: url(https://static-1.gumroad.com/res/gumroad/assets/icons-c464cf1980f8ee1739261cf34d735e7d.png) -294px 4px no-repeat;
  width: 16px;
  height: 28px;
  right: 20px;
}
