@import "./CreditCardField/CreditCardField";
@import "./CityField/CityField";
@import "./ZipcodeField/ZipcodeField";
@import "./EmailField/EmailField";
@import "./ExpiryDateField/ExpiryDateField";
@import "./GiftIcon/GiftIcon";
@import "./OfferCodeField/OfferCodeField";
@import "./NameField/NameField";
@import "./PhoneField/PhoneField";
@import "./PayPalButton/PayPalButton";
@import "./CCIcons/CCIcons";
@import "./CVCodeField/CVCodeField";
@import "./AddressField/AddressField";
@import "./StateField/StateField";

.PaymentForm {
  padding: 10px;
  form { min-width: 300px; }
}

.multifield-line {
  @include display(flex);
  @include justify-content(space-between);
}

.field-group {
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: height 0.5s cubic-bezier(0.23, 1.5, 0.32, 1);
  transition: height 0.5s cubic-bezier(0.23, 1.5, 0.32, 1);
  overflow: hidden;

  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background: -webkit-linear-gradient(top, #fff, #f5f5f5);
  background: linear-gradient(top, #fff, #f5f5f5);
  padding-bottom: 10px;
  width: 100%;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  p {
    padding: 10px 10px 0;
    margin: 0;
    font-size: 13px;
    line-height: 21px;
  }

  .header {
    background: #e5e5e5;
    color: #252a2e;
    overflow: hidden;
    height: 44px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3), 0 -1px 5px rgba(0,0,0,0.2);
    h2 {
      margin: 6px 10px 5px;
      color: rgba(0,0,0,0.5);
    }
  }

  label {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    display: block;
    font-size: 12px;
    margin: 0;
    float: none;
    text-overflow: ellipsis;
    height: 21px;
  }
}

.pay-button {
  margin: 0 auto;
  width: 100%;
  display: block;
  padding: 11px 15px 12px;

  color: #fff;
  background: #a30e00;
  background: -webkit-gradient(linear, left top, left bottom, from(#c93426), to(#970d00));
  background: -moz-linear-gradient(top, #c93426, #970d00);
  background: -o-linear-gradient(top, #c93426, #970d00);

  border-radius: 4px;
  border: 1px solid #930d00;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  @include prefixer(transition, all .05s ease-in-out, webkit spec);

  cursor: pointer;

  &:hover {
    box-shadow: inset 1px 1px 6px 1px rgba(0,0,0,0.7);
  }
  &:active {
    background: #a30e00;
  }
  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
