.Nav {
  @include display(flex);
  @include align-items(center);
  background: $nav-bar-color;
  background: #27002b;
  height: 7%;
}

.Nav-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex(1 0 0);
  z-index: 100;
  height: 7%;
  height: 47px;
  min-height: 35px;
  width: 100%;
  color: white;
  max-width: 960px;
  margin: 0 auto;
}

.Nav-left-side {
  @include display(flex);
  @include flex(3 0 0);
  @include justify-content(flex-start);
  @include align-items(center);
  margin-right: 5px;
  margin-left: 5px;
}

.Nav-right-side {
  @include display(flex);
  @include flex(3 0 0);
  @include justify-content(flex-end);
  @include align-items(center);
  margin-right: 5px;
}

.Nav-button {
  margin-right: 20px;

  &:hover {
    cursor: pointer;
  }
  @media (max-width: 360px) {
    margin-right: 10px;
  }
}

.Nav-logo {
  height: 60px;
  width: 150px;
  overflow: hidden;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  img {
    width: 90%;
    height: auto;
  }
}

.Nav-button-buy {
  @include flex-shrink(0);
}

.Nav-price {
  color: $color5;
  font-size: 32px;
}
.Nav-modal-container {
  display: none;

  &.--active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(50, 50, 50, .5);
    z-index: 100;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }

  &:hover {
    cursor: pointer;
  }
}
.Nav-modal {
  width: 330px;
  height: 170px;
  background: white;
  border-radius:25px;
  z-index: 100;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  overflow: hidden;

  span {
    padding: 15px 15px 0 15px;
    // background: lavender;
    color: $nav-bar-color;
    text-align: center;
    font-size: 1.7em;
  }
  ul {
    @include display(flex);
    @include flex(1 0 0);
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    padding: 20px 0;
    // background: yellow;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;


    li {
      @include display(flex);
      @include flex(1 0 0);
      @include justify-content(center);
      @include align-items(center);
      margin: 20px 15px;
      height: 40px;
      border-radius: 5px;
      background: #6A8CC4;
      border-radius: 25px;
      color: white;
      -webkit-box-shadow: 2px 2px 6px 0px rgba(150, 150, 150, 0.75);
      box-shadow: 2px 2px 6px 0px rgba(150, 150, 150, 0.75);
    }
  }
}
