.Design-li {
  position: relative;
  margin: 2px;
  padding: 0;
  height: $design-large-size;
  width: $design-large-size;
  display: inline-block;
  &:hover {
    outline: 2px solid;
    cursor: pointer;
  }
  @media (max-width: 1400px) {
    height: $design-large-size;
    width: $design-large-size;
  }
  @media (max-width: 900px) {
    height: $design-medium-size;
    width: $design-medium-size;
  }
  @media (max-width: 600px) {
    height: $design-small-size;
    width: $design-small-size;
  }
  
}
.Design {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  display: inline-block;
}
.Design-container {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.Design-canvas {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}
