.LayerSelector {
	@include display(flex);
	@include align-items(center);
	@include justify-content(flex-start);
	@include flex-direction(column);
	margin: 10px;
	padding: 5px;
	box-sizing: box;
	border-radius: 10px;
	&.selected {
      width: 100px;
      height: 50px;
      background: $button-color;
      @include prefixer(box-shadow, 2px 2px 6px 0px rgba(150,150,150,0.75), webkit moz spec);
      @media (min-width: 1000px) {
          width: 150px;
          height: 235px;

          /*width: 150px;*/
          /*height: 235px;*/
      }
	}

    img {
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 10px;
      opacity: 1;
      @include prefixer(box-shadow, 2px 2px 6px 0px rgba(150,150,150,0.75), moz webkit spec);
      cursor: pointer;
      @media (min-width: 920px) {
          width: 90px;
          height: 90px;
      }
    }
	span {
		@include display(flex);
        @include flex(1 0 0);
		@include justify-content(center);
		@include align-items(center);
		background: white;
		border-radius: 10px;
		width: 100%;
        height: 30px;
		margin-top: 10px;
		color: $nav-bar-color;
        @include prefixer(box-shadow, 0px 0px 5px 0px rgba(0,0,0,0.75), webkit moz spec)
		cursor: pointer;
		img {
          height: 15px;
          box-shadow: none;
          margin: 2px;
          @media (min-width: 600px) {
              width: 35px;
              height: 35px;
          }
		}

		&.disabled { opacity: 0.3; }
	}
}
