//
// An individual complete design.
//
.design {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 2px;
  padding: 0;
  display: inline-block;
  &:hover {
    outline: 2px solid;
    cursor: pointer;
  }
}

@media (min-width: 650px) {
  .design {
    height: 120px;
    width: 120px;
  }
}

@media (min-width: 900px) {
  .design {
    height: 180px;
    width: 180px;
  }
}
