//
// An individual complete design.
//
.design {
  position: relative;
  width: 32%;
  height: 120px;
  width: 120px;
  margin: 2px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  &:hover {
    outline: 2px solid;
    cursor: pointer;
  }
}
