//
// An individual complete design.
//
.design {
  outline: 1px solid black;
  position: relative;
  width: 32%;
  height: 100px;
  margin: 5px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
