.design-edit {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 100%;

  .edit-ui {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1 0 0);
    width: 100%;

    .edit-steps {
      .edit-ui-top {
        @include display(flex);
        @include flex-direction(row);
        @include flex(1 0 0);
        @include align-items(center);
        @include justify-content(space-around);
      }
    }
  }
}

@media (min-width: $media-min-width), (orientation: landscape) {
  .main.design-edit {
    @include flex-direction(row);
    .canvas-flex-wrapper {
      max-width: none;
    }

    .edit-ui {
      height: 100%;
    }
  }
}

@media (width: 768) and (height: 1024) and (orientation: portrait) {
  .main.design-edit {
    @include flex-direction(column);
    .canvas-flex-wrapper { max-width: auto; }
    .edit-ui { height: auto; }
  }
}
