.design-edit {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 100%;

  .edit-ui {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1 0 0);
    width: 100%;
    height: 100%;

    .edit-ui-top {
      @include display(flex);
      @include flex-direction(row);
      @include flex(1 0 0);
      @include align-items(center);
      @include justify-content(space-around);
    }
  }
}

.design-edit-detail {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 100%;
  overflow: hidden;

  .edit-ui {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1 0 0);
    width: 100%;
    height: 100%;

    .edit-ui-canvas {
      @include display(flex);
      @include flex(1 0 0);
      @include align-items(center);
      @include justify-content(center);
    }

    .edit-ui-detailed {
      @include display(flex);
      @include flex(1 0 0);
      @include flex-direction(column);
    }

    .edit-ui-top {
      @include display(flex);
      @include flex(1 0 0);
      @include align-items(center);
    }
    .edit-ui-mid {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      background: $nav-bar-color;
      min-height: 40px;

      .rotate-colors {
        width: 50px;
        padding: 5px;
      }

      .button {
        @include display(flex);
        @include justify-content(center);
        background: $button-color;
        padding: 5px;
        width: 100px;
        border-radius: 40px 40px;
        margin: 0 10px;
        -webkit-box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
        -moz-box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
        box-shadow: 2px 2px 6px 0px rgba(150,150,150,0.75);
        cursor: pointer;

        &.off {
          opacity: 0.3;
        }
      }
    }
    .edit-ui-bottom {
      @include display(flex);
      @include flex(3 0 0);
      @include flex-wrap(wrap);
      @include justify-content(center);
      overflow: scroll;
    }
  }
}

@media (min-width: $media-min-width), (orientation: landscape) {
  .main.design-edit {
    @include flex-direction(row);
    .canvas-flex-wrapper {
      max-width: none;
    }

    .edit-ui {
      height: 100%;
    }
  }

  .main.design-edit-detail {
    @include flex-direction(row);
    .canvas-flex-wrapper {
      max-width: none;
    }

    .edit-ui {
      @include flex-direction(row);

      .edit-ui-top {
        @include flex-direction(column);
      }
    }
  }
}

@media (width: 768) and (height: 1024) and (orientation: portrait) {
  .main.design-edit {
    @include flex-direction(column);
    .canvas-flex-wrapper { max-width: auto; }
    .edit-ui { height: auto; }
  }
}
