.design-edit {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 100%;
  background: white;

  .edit-ui {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1 0 0);
    width: 100%;
  }
}

@media (min-width: 650px), (orientation: landscape) {
  .main.design-edit {
    @include flex-direction(row);

    .canvas-flex-wrapper {
      max-width: none;
    }

    .edit-ui {
      height: 100%;
    }
  }
}
