.design-edit-detail {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
