@import "./design.scss";
@import "./show.scss";
@import "./canvas.scss";
//
// Index page showing all designs in a grid.
//
.designs {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  width: 100%;
  margin: 0;
  padding: 0;
}
