//
// Isolated preview of a single design.
//
.ReactModal__Content .show-design {
  background-color: white;
  @include justify-content(space-around);
}

.show-design {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 210, 213, 0.37);
  border-radius: 4px;

  .top-ui {
    @include display(flex);
    @include flex(1 0 0);
    @include align-items(center);
  }

  .price {
    @include display(flex);
    @include flex(2 0 0);
    font-size: 2.5em;
  }
  .cart {
    @include display(flex);
    @include flex(1 0 0);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    list-style: none;
    height: 100%;
    font-size: 1em;
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;

    .cart-image {
      @include display(flex);
      @include align-items(center);
      @include justify-content(centers);
      margin-bottom: 5px;
      height: 40px;
      width: 40px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .exit {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background: white;
    position: absolute;
    right: -25px;
    top: -25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    &:hover {
      background: rgb(162, 162, 162);
      cursor:pointer; }
    &:active { background: rgb(92, 91, 90); }

    img {
      position: relative;
      width: 60%;
      height: auto;
    }
  }

  .bottom-ui {
    @include display(flex);
    @include flex(1 0 0);
    @include align-items(center);
    @include justify-content(center);

    .image-with-label {
      @include display(flex);
      @include flex(1 0 0);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      list-style-type: none;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      -webkit-padding-start: 0;
      height: 100%;

      &:hover { cursor: pointer; }

      img {
        height: 30px;
        width: 30px;
      }
      .label { margin-top: 5px; }
    }
  }

  .canvas-container {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }
}
