//
// Isolated preview of a single design.
//
.ReactModal__Content .show-design {
  background-color: white;
  @include justify-content(space-around);
}

.show-design {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 210, 213, 0.37);
  border-radius: 4px;

  .show-design-top-ui {
    @include display(flex);
    @include flex(1 0 0);
    @include align-items(center);

    span:nth-child(1) {
      @include display(flex);
      @include flex(2 0 0);
      font-family: 'Helvetica';
      font-size: 2.5em;
    }
    ul {
      @include display(flex);
      @include flex(1 0 0);
      @include align-items(center);
      @include justify-content(center);
      @include flex-direction(column);
      list-style-type: none;
      height: 100%;
      font-family: 'Helvetica';
      font-size: 1em;
      -webkit-padding-start: 0;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;

      li:nth-child(1) { 
        @include display(flex);
        @include align-items(center);
        @include justify-content(centers);
        margin-bottom: 5px;
        height: 40px;
        width: 40px;

        img {
          width: 100%;
          height: auto;
        }
      }
      li:nth-child(2) {

      }
    }
    span:nth-child(3) {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      position: absolute;
      background: white;
      right: -25px;
      top: -25px;
      border-radius: 50%;
      width: 40px;
      height: 40px;

        img {
          position: relative;
          width: 60%;
          height: auto;
        }
    }
  }
  .show-design-bottom-ui {
    @include display(flex);
    @include flex(1 0 0);
    @include align-items(center);
    @include justify-content(center);

    ul {
      @include display(flex);
      @include flex(1 0 0);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      list-style-type: none;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      -webkit-padding-start: 0;
      height: 100%;
      font-family: 'Helvetica';

      &:hover {
        cursor: pointer;
      }

      li {

        img {
          height: 30px;
          width: 30px;
        }
      }

      li:nth-child(2) {
        margin-top: 5px;
      }
    }
  }

  .show-canvas {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }

  .canvas { 
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
  }
}
