//
// Isolated preview of a single design.
//
.show-design {
  @include display(flex);
  @include flex-direction(column);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 210, 213, 0.37);
  border-radius: 4px;

  .show-canvas {
    height: 70%;
    width: 100%;
    position: relative;
    left: 0;
  }

  .top-buttons {
    padding: 10px 0;
    h1 {
      margin: 0;
      display: inline-block;
      font-size: 45px;
    }
  }

  .edit {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }

  .button-container {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(center);

    a {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      text-decoration: none;
      color: rgb(58, 60, 63);
      &:hover { color: rgb(145, 147, 150); }
      img {
        fill: rgb(58, 60, 63);
        &:hover { fill: rgb(145, 147, 150); }
      }
    }

    .icon {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 20;
      opacity: 0.3;
      margin: 5px;
	  &:hover { opacity: 1; }
      img {
        width: 25px;
        height: 25px;
      }
      &.copy-icon { z-index: 30; }
      &.delete-icon {
        top: 30px;
        z-index: 30;
      }
    }
  }

  .purchase {
    display: inline-block;
    float: right;
    margin-right: 60px;
    img {
      display: block;
      margin-left: 18px;
    }
  }

  .canvas { height: 90%; }
  .canvas { height: 100%; width: 100%; }
}
